#mainContainer {
    /* Ideal width for a single column page */
    width: clamp(45ch, 50%, 75ch);
    margin: auto;
}

h1 {
    text-align: center;
}

canvas {
    background-color: #000;
    height: 512px;
    width: 512px;
    display: block;
    margin: auto;
    image-rendering: pixelated;
}
