body {
    background-color: #AAAAAA;
}

h1 {
    text-align: center;
}

canvas {
    background-color: #000000;

    height: 512px;
    width: 512px;

    display: block;
    margin: auto;

    image-rendering: pixelated;
}

#mainContainer {
    background-color: #FFFFFF;
    /* Ideal width for a single column page */
    width: clamp(512px, 50%, 75ch);
    margin: auto;
    /* min-height: 100vh; */
}

#buttonContainer {
    padding-top: 4ch;
}